.impact {
  padding: 4em 8rem;
  flex-wrap: wrap;
  color: aliceblue;

  @media screen and (max-width: 993px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  > .__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.4em;

    h1 {
      @media screen and (max-width: 560px) {
        font-size: 20px;
      }
    }

    img {
      width: 450px;
      border-radius: 15px;

      @media screen and (max-width: 990px) {
        width: 360px;
      }
      @media screen and (max-width: 460px) {
        width: 250px;
      }
    }
  }

  .--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 990px) {
      margin-top: 5em;
    }

    div {
      padding: 4em 2em;
      border-radius: 15px;

      p {
        font-size: 25px;
        color: aliceblue;

        @media screen and (max-width: 990px) {
          font-size: 20px;
        }
      }

      ul > li {
        font-size: 18px;

        @media screen and (max-width: 990px) {
          font-size: 15px;
        }
      }
      &:nth-child(1) {
        background-color: burlywood;
        rotate: -5deg;
      }
      &:nth-child(2) {
        background-color: teal;
        rotate: 5deg;
      }
      &:nth-child(3) {
        background-color: #00800096;
        rotate: -5deg;
      }
    }
  }
}
