.about {
    // text-align: center;

    ul {
        li{
            text-align: left;
            list-style-type: circle;
            font-size: 14px;
            margin: .5rem;
        }
    }
    
    .left {
        p{
            padding:1.2rem 0;
        }

        button{
            color: greenyellow;
            letter-spacing: .1em;
        }
    }
    
    .img {
        padding: 0 1.2rem;

        img{
            width: 250px;

            @media screen and (max-width: '800px') {
                display: none;
            }
        }
    }

    .last {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 1.2rem;
    }

}

@media screen and (max-width: 800px) {
    .left {
        margin: 0 auto;
    }
}