.token {
  display: flex;
  flex-direction: column;
  gap: 16em;


  .token__wrapper__one {
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;

    h1 {
      font-size: 55px;

      @media screen and (max-width: 697px) {
        font-size: 40px;
      }

      span {
        color: green;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
    }
  }

  .token__wrapper__two {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16em;
    margin: 0 0 20rem 25rem;

    @media screen and (max-width: 768px) {
      margin: 0 auto;
      gap: 8em;
    }

    @media screen and (max-width: 697px) {
      margin-bottom: 3rem;
      gap: 4em;
      padding: 10px;
    }
  }
}
