.connectWallet {
  width: 100%;
  margin-block: 5rem;
}

.connectWallet_box {
  width: 50%;
  margin: 0 auto;

  h1 {
    font-size: 3rem;
    line-height: 2;
  }
}

.connectWallet_box_para {
  font-size: 2rem;
  padding-bottom: 2rem;

  p {
    font-size: 1.5rem;
    line-height: 0;
    margin-bottom: 3rem;
  }
}

.connect {
  margin-block: 5rem;
}

.connect-links {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
  transition: all 0.3s ease-in;
  border-radius: 1rem;
  gap: 50px;
  margin: 2em 0;
  box-shadow: 0 10px 25px rgba(218, 165, 32, 0.23);

  img {
    width: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  h4 {
    font-size: 20px;
    padding-left: 1rem;
  }
}
