.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #7d917d;
    background-image: url('https://images.pexels.com/photos/1405773/pexels-photo-1405773.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply; 
    height: 100vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 6rem;
  }
  
  
  .hero-text {
    width: 50%;   

    & > * {
      color: #fff;
      margin-bottom: 2rem;
    }
    & > small {
      display: block;
      margin-top: -2em;
    }
    & > p {
      line-height: 1.5em;
    }
    & .hero-buttons a {
      color: #fff;
    }
  }
  
  @media screen and (max-width: 800px) {
   
  
    .hero-text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      margin: auto;
      text-align: center; 
      padding: 0 2.5rem;
    }
    
  }

