.heroSection {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: #fff;
  background-color: #3a5f0b;
  background-image: url("https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1440,fit=crop/meP33pOkvJFe3rGO/recycle-5591472_1920-AE0qPzzxzQHwKbzL.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  background-blend-mode: multiply;
  height: 100vh;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.heroSection_box {
  width: 70%;
  padding: 3rem 1.2rem 8rem 10em;
}

.head {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.headingBig {
  font-size: 3rem;
  font-weight: 900;
}

.leaf {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  transform-origin: center bottom;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  clip-path: polygon(50% 0, 100% 25%, 100% 100%, 0 100%, 0 25%);
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-200px) rotate(360deg);
    opacity: 0;
  }
}

.leaf:nth-child(1) {
  animation: floatAnimation 10s ease-in-out infinite 2s;
  -webkit-animation: floatAnimation 10s ease-in-out infinite 2s;
}

.leaf:nth-child(2) {
  animation: floatAnimation 10s ease-in-out infinite 4s;
  -webkit-animation: floatAnimation 10s ease-in-out infinite 4s;
}

.leaf:nth-child(3) {
  animation: floatAnimation 10s ease-in-out infinite 4s; 
}

.waterDroplets {
  display: flex;
}
.drop {
  width: 1.2px;
  height: 35px;
  background-color: #ece8e8; 
  position: absolute;
  opacity: 0; 
  top: 2rem;
}

@keyframes fallAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 1;
  }
  100% {
    transform: translateY(200px);
    opacity: 0;
  }
}

.drop:nth-child(1) {
  animation: fallAnimation 5s ease-in-out infinite 2s;
  -webkit-animation: fallAnimation 5s ease-in-out infinite 2s;
}

.drop:nth-child(2) {
  animation: fallAnimation 5s ease-in-out infinite 4s;
  -webkit-animation: fallAnimation 5s ease-in-out infinite 4s;
}

.drop:nth-child(3) {
  animation: fallAnimation 5s ease-in-out infinite 6s;
  -webkit-animation: fallAnimation 5s ease-in-out infinite 6s;
}

.drop:nth-child(4) {
  animation: fallAnimation 5s ease-in-out infinite 8s;
  -webkit-animation: fallAnimation 5s ease-in-out infinite 8s;
}

.drop:nth-child(5) {
  animation: fallAnimation 5s ease-in-out infinite 10s;
  -webkit-animation: fallAnimation 5s ease-in-out infinite 10s;
}