// TeamPage.scss
.team-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  .team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2px;
  }
}

// TeamMember.scss
.team-member {
  flex: 0 1 calc(25% - 20px); 
  margin-bottom: 40px;

  img {
    width: 250px;
    border-radius: 10px;
    opacity: 0.7;
    cursor: pointer;

    &:hover {
      opacity: 1;
      transition-duration: 600ms;
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
  }
  .member-details {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  h3 {
    margin-bottom: 10px;
  }

  p {
    margin: 0;
    color: #666;
  }

  div > a {
    color: #666;
    margin: 1.2em;
  }
}
