.hero-home {
  background-color: #f0f0f0;

  span {
    color: #fff;
  }

  .__allPara {
    color: white;
    font-size: 20px;
  }
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 6rem;

  .headerText {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 4rem;
  }

  p {
    max-width: 100%;
    margin-top: 10px;
    font-size: 20px;
  }
}

/* The First and The Third Box*/

.tech-block {
  background-image: url("https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/meP33pOkvJFe3rGO/recycle-5591472_1920-AE0qPzzxzQHwKbzL.jpg");
  background-attachment: fixed;
  background-size: cover;
  margin-top: 6rem;
  justify-content: center;
  background-color: #2b5e14;
  min-height: 100vh;
  min-width: 100%;
  background-blend-mode: multiply;

  .tech_card {
    padding: 6rem;
    margin: 4px;
  }

  .left-box {
    width: 50%;
    padding: 5rem;
    background-color: #294f28;
    border-radius: 20px;

    @media screen and (max-width: 900px) {
      width: unset;
    }
  }

  .__label {
    display: inline-block;
    line-height: 40px;
    font-size: 18px;
  }

  /* The Second Box*/

  .tech_card2 {
    padding: 6rem;
    margin: 4px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }

  .left-box2 {
    width: 50%;
    padding: 5rem;
    background-color: #294f28;
    border-radius: 20px;

    @media screen and (max-width: 900px) {
      width: unset;
    }
  }

  .__label2 {
    display: inline-block;
    line-height: 40px;
    font-size: 18px;
  }
}

.__footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  margin-top: 6rem;

  @media screen and (max-width: 900px) {
    padding: 2rem;
  }

  h6 {
    @media screen and (max-width: 900px) {
      width: 65%;
      font-weight: lighter;
    }
  }
}
