.hero_service {
  background-color: #2b5e14a7;
  background-image: url("https://images.pexels.com/photos/20345530/pexels-photo-20345530.jpeg?auto=compress&amp;bri=5&amp;cs=tinysrgb&amp;fit=crop&amp;h=500&amp;w=1400&amp;dpr=1");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.service_text {
  padding: 7.2rem;
  width: 100%;

  @media screen  and (max-width: 620px) {
    padding: 3rem;
  }

  h1 {
    padding-top: 6rem;
    font-size: 6rem;
    font-weight: bold;

    @media screen  and (max-width: 620px) {
      font-size: 4rem;
    }
  }

  p {
    margin-top: 2.6rem;
    font-size: 2rem;
    letter-spacing: 2px;

    @media screen  and (max-width: 620px) {
      font-size: 1.2rem;
    }
  }

  h1,
  p {
    color: #fff;
  }
}

/**************************/
.background {
  background-color: #fff;
  margin-top: 12rem;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

  .content-box {
    margin-top: 6rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 65px;
    margin-bottom: 25rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    @media screen and (max-width:620px) {
      padding: 15px;
      margin-bottom: 10rem;
    }

    h1 {
      font-size: 6rem;
      margin-bottom: 10px;
      color: rgba(0, 128, 0, 0.879);

      @media screen and (max-width:620px) {
        font-size: 3rem;
      }
    }

    p {
      font-size: 1.6rem;
      letter-spacing: 1px;
      margin-top: 1.6rem;
      text-indent: 20px;
      line-height: 2.6rem;
    }
  }
}

/*************************/
.content_section_active {
  background-color: #f7f7f7;
  padding: 7rem;

  @media screen  and (max-width: 620px) {
   padding: 3rem;
   width: 100%;
  }

  .content_section_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  h2 {
    font-size: 6rem;
    margin-bottom: 10px;
    color: rgba(0, 128, 0, 0.879);

    @media screen and (max-width:620px) {
      font-size: 4rem;
    }
  }
}

p,
.content_section_subtitle {
  margin-top: 2.6rem;
  font-size: 2rem;
  letter-spacing: 2px;
  color: #000000e1;
}

p,
.content_section_description,
.content_section_medium_description {
  line-height: 2.6rem;
}

.btn_primary {
  padding: 15px 20px;
  background: green;
  text-decoration: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 6rem;

  .arrow {
    margin-left: 5px;
    font-size: 20px;
  }
}
