.product {
    margin: 10rem 0;
    padding: 7rem 0;


    .drawer {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 2rem;
        overflow: scroll;
        
        

        .details{
            box-shadow: 0 1.2rem 2rem #2e394755;
            flex-basis: 280px;
            padding: 5rem 2.5rem;
            border-radius: 10px;   
            text-align: left;
            flex-direction: column;
            gap: 2rem;
            margin: 0 auto;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #6d846d;
            background-blend-mode: multiply;

            h2 {
                font-weight: 300;
                text-align: center;
                margin-bottom: 3rem;
                color: #fff;
            }

            p{
                color: #fff;
            }
        }  
        
        .details:nth-child(1){
            background-image: url('https://images.pexels.com/photos/11908545/pexels-photo-11908545.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
            background-position: bottom right;
        }
        
        .details:nth-child(2){
            background-image: url('https://images.pexels.com/photos/262488/pexels-photo-262488.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
            background-position: bottom left;
        }
        
        .details:nth-child(3){
            background-image: url('https://images.pexels.com/photos/5719894/pexels-photo-5719894.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
            background-position: top left;
        }
        
        .details:nth-child(4){
            background-image: url('https://images.pexels.com/photos/5472279/pexels-photo-5472279.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
            background-position: bottom right;
        }
    }

    .details:hover{
        transform: translateY(-5%);
        transition-duration: 600ms;
        -webkit-transform: translateY(-5%);
        -moz-transform: translateY(-5%);
        -ms-transform: translateY(-5%);
        -o-transform: translateY(-5%);
    }
}

@media  screen and (max-width: 992px) {
    .drawer{
        .details{
            margin: 0 auto;
        }
        
    }
}