.success {
    width: 40%;
    max-width: 35.5rem;
    padding: 2rem ;
    background: #7ea97e;
    border-radius: 15px;
    box-shadow: 1px 5px 60px 0px #100a886b;
    background-image: url('../../assets/avocet.webp');
    background-position: top left;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;


        .card-border-top {
        width: 60%;
        height: 3%;
        background: #9dad9d;
        margin: auto;
        border-radius: 0px 0px 15px 15px;
        }
        
        span {
        font-weight: 600;
        color: white;
        text-align: center;
        display: block;
        padding-top: 10px;
        font-size: 16px;
        }
        
        .job {
        font-weight: 400;
        color: white;
        display: block;
        text-align: center;
        padding-top: 3px;
        font-size: 12px;
        }

        a:hover{
            color: #fff;
        }
}
   