.partner {
  background-color: #8080802b;
  text-align: center;
  padding: 5em;

  @media screen and (max-width: 600px) {
    display: none;
  }

  > div {
    padding: 3em;
    margin-top: 5em;
    overflow: auto;


    img {
      animation: slideRightToLeft 30s infinite 10s;
      -webkit-animation: slideRightToLeft 30s infinite 10s;
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      width: 100px;
    }
  }
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}
