.footer {

    .title {
        padding: 5rem 3rem;
        flex-wrap: wrap;
        cursor: pointer;
            
        .footer-links {
            display: flex;
        }
    }
    .gap {
        gap: 3.5rem;

        nav{
            display: flex;
            gap: 2rem;
            margin-bottom: 3rem;


        }
    }
    
}