footer {
  padding: 3em 10em;
  color: green;

  > div:nth-child(1) {
    flex-wrap: wrap;

    @media screen and (max-width: 660px) {
      gap: 20px;
    }
    @media screen and (max-width: 460px) {
      flex-direction: column;
      text-align: center;
    }
    .f__logo {
      color: green;
      font-weight: 500;
      margin-Top: 3rem;
      width: 105px
    }

 
    > div {
      display: flex;
      flex-direction: column;
      align-items: left;
      gap: 2px;

      p {
        color: rgb(17, 68, 17);
        font-size: 20px;
      }

      a {
        color: green;
      }
    }
    .__socials {
      @media screen and (max-width: 600px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      
      p {
        @media screen and (max-width: 600px) {
          display: none;
        }
      
      }
    }
  }

  > div:nth-child(2) {
    padding: 10em 0 2em 0;

    @media screen and (max-width: 600px) {
      padding: 2em 0;
      flex-direction: column;
    }

    p {
      @media screen and (max-width: 600px) {
        text-align: center;
        margin-bottom: 1.2em;
      }
    }
    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      a {
        color: green;
        text-decoration: underline;
      }
    }
  }
}
