.wrapper_mpc {
  flex-wrap: wrap;
  gap: 15px;

  .mpc {
    box-shadow: 0px 2px 2px rgba(73, 125, 90, 0.367);
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 2px 15px gray;
  }
}

.input-container {
  margin-bottom: 20px;

  input[type="text"] {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;

    &:focus {
      outline: none;
      border-color: #0b3b18;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
  }

  button {
    padding: 10px 20px;
    background-color: #0b3b18;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.search-bar {
  margin-bottom: 20px;
  text-align: center;
}

.search-bar input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

.search-bar input:focus {
  border-color: #a500ff;
  outline: none;
}

.search-bar input::placeholder {
  color: #aaa;
}

.p-page {
  padding: 3em 10em;

  .product-details {
    margin-bottom: 1rem;

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }

    div {
      margin-bottom: 0.5rem;
      font-size: 1rem;
      text-wrap: wrap;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        font-weight: bold;
      }

      .text-sm {
        font-size: 0.875rem;
      }

      .text-wrap {
        word-wrap: break-word;
      }
    }
  }

  .action-buttons {
    margin-top: 1rem;

    .enableEthereumButton {
      background-color: #4caf50;
      color: white;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #45a049;
      }
    }

    .owner-message {
      font-size: 0.875rem;
      color: #f44336;
    }

    .message {
      margin-top: 1rem;
      font-size: 0.875rem;
      color: #ff9800;
    }
  }
}
